node_modules/
.expo/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Temp folders
SafePulse_temp/
